<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<import resource="datasource-config.xml" />
	<import resource="webflow-config.xml" />
	<import resource="security-config.xml" />	
	<import resource="mvc-config.xml"/>	
	
	<bean id="userDao" class="com.j2ee.dao.UserJpaDao">
	</bean>
	
	<bean id="userService" class="com.j2ee.services.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userAuthenticationProviderService" class="com.j2ee.services.impl.UserAuthenticationProviderServiceImpl">
		<property name="authenticationManager" ref="authenticationManager"/>
	</bean>
</beans>